
#logo
{
    height: 60px;
}

body, main
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

main, .hobbyArticle
{
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.333);
}

nav,a
{  
    display:flex;
    text-decoration: none;
    color: black;
}

.mobileNav
{
    display: none;
}

.activeItem
{
    text-decoration: solid;
}

nav
{
    margin: 8px;
    gap: 1.5em;
}

.navText
{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("pics/banner_guitar.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
    color: #FFFFFF;
    justify-content: center;
}
   

 .center {
     margin-left: auto;
     margin-right: auto;
     width: 90%;
     padding: 10px;
 }

 .grow{
    transition: all .2s ease-in-out;
 }

 .grow:hover{
    transform: scale(1.03);
    box-shadow: 0 0 11px rgba(26, 25, 25, 0.733);
 }

 .growNavItem
 {
    transition: all .2s ease-in-out;
 }

 .growNavItem:hover{
    transform: scale(1.05);
 }

 .bannerText{
    position: absolute;
    top: 50%;
    font-size: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    margin: 0;
 }

 .hobbyArticle
 {
    background-color: #EEEEEE;
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
 }

 .articleThumbnail
 {
    width: 100%;
    height: 65%;
    border-radius: 15px;
    object-fit: cover;
 }

 .chipsSection
 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
 }

 .categoryChip 
 {
    background-color: #EEEEEE;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    text-align: center;
    line-height: 5px;
    font-size: 1.1em;
 }

 .center section
 {
    margin-bottom: 3em;
 }

.hobbySection
{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 15px;
}

.authorPic
{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.authorName
{
    margin-top: auto;
    margin-bottom: auto;
}

.articleAuthor
{
    display: flex;
    gap: 10px;
}

.articleTitle
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.articleDate
{
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) 
{
    .desktopNav
    {
        display: none;
    }

    .banner
    {
        height: 300px;
    }

    .bannerText
    {
        font-size: 3em;
    }

    .mobileNav
    {
        display: flex;
        justify-content: space-between;
    }

    /* The container <div> - needed to position the dropdown content */
    .burgerMenu {
        position: relative;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
    }

    .burgerContent {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .burgerContent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: inline;
    }

    /* Change color of dropdown links on hover */
    .burgerContent h2:hover {
        background-color: #ddd;
    }

    /* Show the dropdo  wn menu on hover */
    .burgerMenu:hover .burgerContent {
        display: block;
    }
}