
#logo
{
    height: 90px;
}

body, main
{
    font-family: 'Raleway', sans-serif;
}

nav,a
{  
    display:flex;
    text-decoration: none;
    color: black;
}

.activeItem
{
    text-decoration: solid;
}

nav
{
    border-bottom: 1px solid black;
    gap: 1.5em;
}

.navText
{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.banner{
    /* margin-top: 1rem;
    width: 100%;
    border-radius: 20px; */

 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/banner_guitar.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
   

 .center {
     margin-left: auto;
     margin-right: auto;
     width: 90%;
     padding: 10px;
 }
