.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

body,main{

    font-family: 'Raleway', sans-serif;
    color: #EEEEEE;
    background-color: #393E46;
}

main {
    min-width: 400px;
    font-size: 1.5rem;
    display: block;
}

#sectionFlex
{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#sectionGrid{
    display: grid;
    grid-template-columns: 20% auto auto;
    /* 3 Spalten */
    grid-gap: 1em;
    
}

article{
    background-color: #EEEEEE ;
    color: black;
    width: 500px;
    padding: 0.5em;
    border-radius: 10px;
}

.grow
{
    transition: all .2s ease-in-out;
}

article:hover
{
    transform: scale(1.04);
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.733);
    
}
 img{
    width: 100%;
    border-radius: 20px;
 }

 #sectionFlex article {
    width: 250px;
 
}