.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

body,main{

    font-family: 'Raleway', sans-serif;
    color: #EEEEEE;
    background-color: #393E46;
}

main {
    min-width: 400px;
    font-size: 1.5rem;
    display: block;
}

#sectionFlex
{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#sectionGrid{
    display: grid;
    max-width: max-content;
    grid-gap: 20px;
    
}

article{
    background-color: #EEEEEE ;
    color: black;
    width: 250px;
    padding: 0.5em;
    border-radius: 10px;
}

.grow
{
    transition: all .2s ease-in-out;
}

article:hover
{
    transform: scale(1.04);
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.733);
    
}
 img {
    width: 100%;
    border-radius: 20px;
 }

 #gridItem1 {
    grid-column: 1;
    grid-row: 1;
 }

 #gridItem2 {
    grid-column: 2;
    grid-row: 1;
 }

 #gridItem3 {
     grid-column: 3;
     grid-row: 1;
 }

 #gridItem4 {
    grid-column: 1;
    grid-row: 2;
 }

 #gridItem5 {
    grid-column: 2;
    grid-row: 2;
 }

 #gridItem6 {
    grid-column: 3;
    grid-row: 2;
 }
 
 a {
    color: black;
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
     cursor: pointer;
 }