html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: darkcyan;
    font-size: 16pt;
}

a:hover{
    color: red;
}

ul{
    list-style: square;
}

li{
    font-size: 16pt;
}

table {
    margin: auto;
  
}

table, td,tr,th{

    border-collapse: collapse;
    border: 3px solid #8884FF;
    text-align: left;
    padding: 11px;
    text-align: center;
}

tr:nth-child(even){
    background-color: #5DD9C1;
}
